/* Reole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Regole app */

.center {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

/* Regole h1 */

#title{
  margin-bottom: 30px;
  color: red;
}